{% extends 'base.html.twig' %}

{% block title %}Paragin Assessment{% endblock %}

{% block body %}
<style>
    body {background-color: #f1f1f1; color: #333;}
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .wrapper code { background: #F5F5F5; padding: 2px 6px; }
    th { text-align: left; width: 20%;}
</style>

<div class="wrapper">
    <h1>Paragin Assessment</h1>

    <ul>
        <li><a href="/student-grades">Student grades</a> </li>
        <li><a href="/analitics">Analitics</a> </li>
    </ul>

</div>
{% endblock %}
